:root {
  --main-color: #0093E9;
  --backgound-color-grey: #EEEDED;
}

body {
  margin: 0;
  padding: 0;
  min-height: 900px;
  background-color: var(--backgound-color-grey);
  /* background-color: #fff; */
}

.float_left{
  float: left;
}

.float_right {
  float: right;
}
ul {
  list-style: none;
  padding: 0;
}